<% provide(:page_title, "O mnie") %>
<div class="text-secondary small" align="center" style="padding-left: 300px; padding-right: 300px; padding-bottom: 50px;">
<h4>O MNIE:</h4>
<br />
  <p>
    <%= image_tag("static_pages/omnie.jpg") %>
  </p>
  <br />
  <p>
    Cupcake ipsum dolor sit amet halvah oat cake pudding. Halvah lollipop brownie bear claw soufflé candy canes. Liquorice brownie topping powder. Sesame snaps fruitcake I love powder marshmallow bear claw cake gingerbread. Lollipop toffee jelly cake liquorice marzipan. Wafer donut bear claw halvah sweet roll chocolate gummies candy canes dragée.

Jelly beans jelly beans icing cake gummi bears gingerbread. Bonbon ice cream jujubes pastry sweet cheesecake donut. Liquorice powder soufflé. Tootsie roll I love gummi bears. I love chocolate cake gummi bears tootsie roll halvah pie I love ice cream. Carrot cake brownie croissant. Ice cream I love pastry wafer bonbon carrot cake. Sweet roll marshmallow liquorice. Ice cream macaroon pudding cheesecake chocolate cake sweet roll candy sweet roll.

Brownie danish icing sweet wafer pastry. Candy canes gingerbread wafer fruitcake I love bonbon cake candy soufflé. Lemon drops lollipop oat cake cake soufflé dessert. Gummies powder jujubes bonbon jelly beans jujubes. Bear claw I love fruitcake muffin. Brownie icing cotton candy.

Gummies pudding cheesecake cheesecake. Jelly caramels jelly-o I love. Cupcake I love oat cake danish macaroon cotton candy wafer. Sweet roll chupa chups lollipop. Icing soufflé tiramisu ice cream. Gingerbread cotton candy sweet roll marshmallow jelly. Pastry cotton candy cake jelly beans toffee. Topping bear claw cotton candy soufflé gummies. Muffin caramels I love jelly tart cookie. Chocolate cake tart candy canes liquorice sesame snaps chocolate cake dragée carrot cake carrot cake.

I love marshmallow dessert pastry caramels. I love soufflé toffee I love. Dessert I love candy canes liquorice sweet roll apple pie. I love sweet brownie gingerbread pie pastry I love. Marzipan jelly-o I love carrot cake I love sesame snaps. Fruitcake lemon drops I love icing. Cupcake candy I love muffin. Oat cake jelly-o pie cake jujubes chocolate tootsie roll.
  </p>
</div>
