<h5>All users:</h5>

<% @users.each do |user| %>
<p>
  <%= link_to user.firstname, user %>
  <%= user.fullname %>
  <%= image_tag(user.avatar.url(:thumb), alt:'Image') if user.avatar? %>

</p>
<% end %>
