<% provide(:page_title, "Składniki") %>
<div class="text-secondary" align="center">
<h5>WSZYSTKIE SKŁADNIKI:</h5>
</div>
<br />
  <div class="row">
  <% @ingredients.each do |ingredient| %>
    <div class="col-sm-4">
      <div class="card border-light mb-3 h-100 text-center">
        <div class="card-body">
          <h6 class="card-title text-secondary"><%= link_to ingredient.name.upcase, ingredient_path(ingredient), class:'text-secondary'%></h6>
            <p class="card-text text-secondary small" style="padding-right: 50px; padding-left:50px">
              <%= link_to 'wszystkie przepisy...', ingredient_path(ingredient), class: 'text-secondary' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<div class="digg_pagination">
<%= will_paginate @ingredients, previous_label: "POPRZEDNIE", next_label: "NASTĘPNE", list_classes: %w(pagination justify-content-center), :page_links => false %>
</div>
