<h2> <%= @ingredient.name %> </h2>
<h4>Przepisy z tym składnikiem:</h4>
<table>
  <thead>
  </thead>
  <tbody>
    <% @ingredient.posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %> </td>
      <td><%= image_tag(post.post_cover.url(:thumb), alt:'Image') if post.post_cover? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
