<% @categories.each do |category| %>
<div class='hr'><span class='hr-title text-secondary'><%= category.name.upcase %></span></div>
<div>
  <% if category.posts.any? == false %>
    <p>
      Nie ma żadnych postów w tej kategorii
    </p>
  <% else %>
    <% @all_posts.each do |post| %>
      <% if post.categories.any? { |cat| cat == category } %>
        <a>
          <%= image_tag(post.post_cover.url(:thumb), alt:'Image') if post.post_cover? %>
          <%= link_to post.title, post_path(post), class:'text-secondary'%>
        </a>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
