<% @categories.each do |category| %>
<div class='hr'><span class='hr-title text-secondary'><%= category.name.upcase %></span></div>
<div>
  <table "table text-center">
  <% if category.posts.any? == false %>
    <p class='text-secondary small'>
      Nie ma żadnych postów w tej kategorii
    </p>
  <% else %>
      <% category.posts.limit(3).each do |post|%>
        <tr>
          <th class="text-center"><%= link_to post.title.upcase, post_path(post), class:'text-secondary small'%></th>
        </tr>
        <tr>
          <td><%= image_tag(post.post_cover.url(:thumb), alt:'Image') if post.post_cover? %></td>
        </tr>
      <% end %>
    <% end %>
</table>
<br />
<button type="button" class="btn btn-light text-secondary small btn-sm align-middle">
  <%= link_to 'Pokaż wszystkie posty z tej kategorii', category_path(category), class: 'text-secondary' %>
</button>
</div>
<% end %>
