<h1>All posts:</h1>

<%= search_form_for @q do |f| %>
  <%= f.search_field :title_or_content_cont, class: 'form-control', placeholder: 'Search' %>
  <%= f.submit 'search', class: 'btn btn-default' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
