<h1>All posts:</h1>

<h5>Search for recipe:</h5>

<%= form_tag(posts_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>




<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
