<strong> <%= @post.title %> </strong>

<strong>Przepis:</strong>
  <p>
  <%= @post.description %>
  </p>

<strong>Czas:</strong>
  <p>
  <%= @post.time %> minutes
  </p>

<strong>Skala trudności:</strong>
  <p>
  <%= @post.skills %>
  </p>
