<p class="text-secondary small">Welcome <%= @email %>!</p>

<p class="text-secondary small">You can confirm your account email through the link below:</p>

<p class="text-secondary small"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
